<div [ngSwitch]="nodetype">

  <cm-input *ngSwitchCase="'input'" [formControl]="control" [configuration]="configuration" [name]="name"></cm-input>

  <div *ngSwitchCase="'class'" [class.mat-elevation-z2]="parentnodetype !== 'interface'"  [ngClass]="'class' + (parentnodetype || '')"  [class.mat-elevation-z2]="parentnodetype !== 'interface'">
        <div *ngFor="let property of properties"> 
            <label *ngIf="property.nodetype !== 'input'" class="mat-h2">{{property.name}}</label>
            <cm-object 
              [configuration]="property.configuration" 
              [name]="property.name"
              [nodetype]="property.nodetype"
              [formControl]="getPropertyControl(property.name)">
            </cm-object>
        </div>
     </div>

  <div class="list "*ngSwitchCase="'list'" [class.mat-elevation-z2]="true">
    <div *ngFor="let item of items; index as i; last as last">
        <button class="deleteitembutton" mat-icon-button (click)="deleteItem(i)">
            <mat-icon>clear</mat-icon>
        </button>
        <cm-object 
            [formControl]="item"
            [nodetype]="configuration.nodetype" 
            [configuration]="configuration.configuration">
       </cm-object>
    </div>
    <button class="additembutton" mat-icon-button (click)="addItem()">
        <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="interface" *ngSwitchCase="'interface'" [class.mat-elevation-z2]="true">
        <mat-form-field>
                <mat-select [formControl]="interfaceTypeControl" >
                  <mat-option *ngFor="let type of configuration.types" [(value)]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
        </mat-form-field>
        <cm-object *ngIf="interfaceTypeControl.value"
            [formControl] = "interfaceObjectControl"
            [configuration]="interfaceObjectConfiguration"
            [name]="name" 
            [nodetype]="'class'"
            [parentnodetype]="nodetype" >
        </cm-object>
  </div>

  <!-- 
   <cm-object *ngSwitchCase="'dictionary'"
        [data]="getDictionaryData()" 
        (dataChange)="setDictionaryData($event)"
        [configuration]="getDictionaryConfiguration()"
        [name]="name" 
        [nodetype]="'list'">
   </cm-object> -->

</div>
