<div [ngSwitch]="nodetype">

  <cm-input *ngSwitchCase="'input'" [formControl]="control" [configuration]="configuration" [name]="name"></cm-input>

  <div *ngSwitchCase="'class'" 
    [class.mat-elevation-z2]="parentnodetype && parentnodetype !== 'interface'" 
    [ngClass]="'class' + (parentnodetype && parentnodetype !== 'interface' ? 'child' : 'root')">
        <div *ngFor="let property of properties"> 
            <label *ngIf="property.nodetype !== 'input'" class="mat-h2">{{property.name}}</label>
            <cm-object 
              [configuration]="property.configuration" 
              [name]="property.display || property.name"
              [nodetype]="property.nodetype"
              [formControl]="getPropertyControl(property.name)"
              [parentnodetype]="'class'">
            </cm-object>
        </div>
     </div>

  <div class="list "*ngSwitchCase="'list'">
    <div *ngFor="let item of items; index as i; last as last">
        <button class="deleteitembutton" mat-icon-button (click)="deleteItem(i)">
            <mat-icon>clear</mat-icon>
        </button>
        <div style="margin-right: 2em;">
           
            <cm-object
                [formControl]="item"
                [nodetype]="configuration.nodetype" 
                [configuration]="configuration.configuration"
                [parentnodetype]="'list'">
            </cm-object>
       </div>
    </div>
    <button class="additembutton" mat-raised-button (click)="addItem()">
        <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngSwitchCase="'interface'" 
    [class.mat-elevation-z2]="parentnodetype" 
    [ngClass]="'interface' + (parentnodetype ? 'child' : 'root')">
        <mat-form-field>
                <mat-select [formControl]="interfaceTypeControl" >
                  <mat-option *ngFor="let option of interfaceTypeOptions" [(value)]="option.value">
                    {{option.display}}
                  </mat-option>
                </mat-select>
        </mat-form-field>
        <cm-object *ngIf="interfaceTypeControl.value"
            [formControl] = "interfaceObjectControl"
            [configuration]="interfaceObjectConfiguration"
            [name]="name" 
            [nodetype]="'class'"
            [parentnodetype]="'interface'" >
        </cm-object>
  </div>

   <cm-object *ngSwitchCase="'dictionary'"
        [formControl]="control"
        [configuration]="getDictionaryConfiguration()"
        [name]="name" 
        [nodetype]="'list'"
        [parentnodetype]="parentnodetype">
   </cm-object>

</div>
