<form [formGroup]="control">
  
  <cm-catalog formControlName="catalog" ></cm-catalog>

  <cm-object 
    formControlName="association" 
    [nodetype]="'interface'"
    [configuration]="{property: 'AssociationType', types: [{type: 'ProductAssociation', display: 'Product'},{type: 'PromotionAssociation', display: 'Promotion'},{type: 'CampaignAssociation', display: 'Campaign'}] }">
  </cm-object>

  <button mat-raised-button 
    (click)="search()" 
    [disabled]="!control.valid">
    Search
  </button>
</form>


