<div [ngSwitch]="nodetype">

  <cm-input *ngSwitchCase="'input'" [(data)]="data"  [configuration]="configuration" [name]="name"></cm-input>

  <div *ngSwitchCase="'list'">
    <div *ngFor="let item of items">
        <div>{{item.nodetype}}</div>
        <cm-object 
            [data]="item.data" 
            [nodetype]="item.nodetype" 
            [type]="item.type" 
            (dataChanged)="setItemData(i,value)">
       </cm-object>
    </div>
    <button (click)="addItem()">Add Item</button>
    <button (click)="removeItem()">Remove Item</button>
  </div>

  <!-- <div *ngSwitchCase="'list'">
      <div *ngFor="let item of items">
          <div>{{item}}</div>
          <cm-object 
            [data]="item.data" 
            nodetype="item.nodetype" 
            type="item.type" 
            (dataChanged)="setItemData(i,value)">
           </cm-object>
      </div> 
      <button (click)="addItem()">Add Item</button>
      <button (click)="removeItem()">Remove Item</button>
  </div> -->


  <!-- <div *ngSwitchCase="'interface'" >

      <cm-object *ngIf="instance" [configuration]="instace.configuration" [data]="instance.data" (data)="instanceDataChanged(value)"></cm-object>
  </div> -->

  <div *ngSwitchCase="'class'" >
      <div *ngFor="let property of properties"> 
          <cm-object 
            [data]="getPropertyData(property.name)" 
            (dataChange)="setPropertyData(property.name,$event)" 
            [configuration]="property.configuration" 
            [name]="property.name"
            [nodetype]="property.nodetype"
            [type]="property.type">
          </cm-object>
      </div>
  </div>

</div>
