<div [ngSwitch]="nodetype">

  <cm-input *ngSwitchCase="'input'" [(data)]="data"  [configuration]="configuration" [name]="name"></cm-input>

  <div *ngSwitchCase="'list'">
    <div *ngFor="let item of items; index as i">
        <div>index : {{i}}</div>
        <div>{{item.nodetype}}</div>
        <cm-object 
            [data]="item.data" 
            [nodetype]="item.nodetype" 
            [configuration]="item.configuration" 
            (dataChange)="setItemData(i,$event)">
       </cm-object>
    </div>
    <button (click)="addItem()">Add Item</button>
    <button (click)="removeItem()">Remove Item</button>
  </div>


  <div *ngSwitchCase="'interface'" >
        <mat-form-field>
                <mat-select placeholder="{{configuration.type}}" (selectionChange)="interfaceSelectionChange($event)" [(value)]="interfaceSelection" >
                  <mat-option *ngFor="let type of configuration.types" [(value)]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
        </mat-form-field>
        <cm-object *ngIf="interfaceSelection" [nodetype]="'class'" [name]="name" [configuration]="interfaceConfiguration" [data]="data"></cm-object>
  </div>

  <div *ngSwitchCase="'class'" >
      <div *ngFor="let property of properties"> 
          <cm-object 
            [data]="getPropertyData(property.name)" 
            (dataChange)="setPropertyData(property.name,$event)" 
            [configuration]="property.configuration" 
            [name]="property.name"
            [nodetype]="property.nodetype">
          </cm-object>
      </div>
  </div>

</div>
